.contenedor-tabla{

  display: flex;
  flex-direction: column; 
  min-height: 100vh; 
  margin-top: 7rem;


&__carrito{
flex: 1; }
}


.tabla-carrito {
  width: 80%;
  border-collapse: collapse;
  background-color: #f9f9f9;
 font-size: 0.8rem;

  thead {
    color: white;
     font-size: 0.8rem;
  }

  th, td {
    padding: 0.8rem 0.9rem;
    border: 1px solid #14b408;
    text-align: center;
  }

  th {
    font-weight: bold;
    text-transform: uppercase;
  }
}

.contenedor-botones {
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
  cursor: pointer;

  &__vaciar-carrito{
    background-color: #28a745;
    color: white;
    padding: 0.5rem;
    border: none;
    margin: 1rem;
    font-size: 1.5rem;
    
  }

  &__comprar{
    background-color: #28a745;
    color: white;
    padding: 0.5rem;
    border: none;
    margin: 1rem;
    font-size: 1.5rem;
  }

  &__total-carrito{
    font-size: 1.2rem;
    margin-top: 0.1rem;
    margin-left: 16rem;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 0, 0, 0.603);
    border-radius: 1rem;
    padding-top: 0.5rem;
    flex-basis:11%;
    align-self: center;
    

  }


}


@media (max-width: 576px) {
  .contenedor-tabla{
    margin-top: 3rem;
  }
  
  
  .tabla-carrito {
    width: 60%;
  
    thead {
      color: white;
      text-align: left;
       font-size: 0.8rem;
    }

  }
  
  .contenedor-botones {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    &__vaciar-carrito{
      background-color: #28a745;
      color: white;
      padding: 0.5rem;
      border: none;
      margin-top: -1rem;
      font-size: 1rem;
     width: 20vh;
      
    }
  
    &__comprar{
      background-color: #28a745;
      color: white;
      padding: 0.5rem;
      border: none;
      margin: 1rem;
      font-size: 1rem;
      margin-top: -0.5rem;
      width: 20vh;
    }
  
    &__total-carrito{
      font-size:rem;
      margin-top: 0.1rem;
      margin-left: 0rem;
      border-radius: 1rem;
      padding: 1rem;
      width: 20vh;
      
  
    }
  
  
  }

}



@media (max-width: 400px) {
  
  .contenedor-tabla{

  margin-top: 1rem;

  }

.tabla-carrito {
margin-bottom: 0.5rem;

  th, td {
    padding: 0.5rem 0.5rem;
    border: 1px solid #14b408;
  }
}

.contenedor-botones {
  padding: 0rem 0rem;

  &__vaciar-carrito{
    padding: 0.2rem;
    margin: 0rem;
    font-size:0.8rem;
  margin:0.5rem;
    
  }

  &__comprar{
    padding: 0.2rem;
    margin: 0rem;
    font-size:0.8rem;
  margin:0.5rem;
  }

  &__total-carrito{
    font-size:0.8rem;
    margin-top: 0.2rem;
    margin-left: 0rem;
    border-radius: 0.8rem;
    text-align: center;
    padding-top: 0.5rem;
    flex-basis:11%;
    align-self: center;
    

  }


}

}
